body {
  font-family: 'Arial';
  background-color: #818181;
}

/*#calculator {
  height: 410px;
  width: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfd8d0;
  border: 2px solid #908b85;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}*/

#title {
	width: 390px;
	height: 70px;  
}
#name{
  padding-top: 20px;
  margin-left: 20px;
  font-family: 'Courier New';
  font-size: 18px;
  font-weight: bold;
  width: 130px;
  height: auto;
  display: inline-block;
}
#table{
	padding-top: 10px;
    height: 36px;
	width: 200px;
	display: inline-block;
}
#solar{
    border: 2px solid #004000; 
	border-radius: 3px;
	background-color: #004000;
}
.cell{
	width: 30px;
	height: 30px;
	color:#404040;
	background-color:#303030;
}
#entrybox {
  width: 300px;
  height: 50px;
  margin-left: 5%;
  margin-right: auto;
  border: 2px solid #b4b39d;
  border-radius: 6px;
  background-color: #c3c2ab;
}

#entry {
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  bottom: 50%;
  font-size: 35px;
}

#logo {
	margin-left:80px;
}
/*#history {
  transform: translate(-13px, -17px);
  position: relative;
  height: 20px;
  bottom: 0px;
  margin-left: 5px;
  color: #8b8b7b;
  font-size: 12px;
}*/

#buttons {

  width:320px;
  height: auto;
  margin-left: 4%;
  margin-top: 5%; 
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

button {
  border-radius: 15px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  background-color: #303030;
  margin: 0 4px 10px 8px;
  height: 50px;
  width: 60px;
  box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
}

button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

.row {
  margin-top: 20px
}

#topAdjust {
  margin-top: -52px;
}

#equalButton {
  position: absolute;
  margin-left:15px;
  margin-top: -60px;
  height: 110px;
}

#zeroButton {
  width: 135px;
}

.red {
  font-size: 20px;
  background-color: #a72d45;
  box-shadow: 0px 3px 0px 0px #671c2a;
}


button,
button:hover,
button:active,
button:visited {
  text-decoration: none !important;
  outline: none !important;
}

a,
a:hover,
a:active,
a:visited {
  color: #922031;
  text-decoration: none !important;
  outline: none !important;
}

